softgym/cached_initial_states/*
softgym/envs/corl_cached_state_backup
data
__pycache__/
.idea
PyFlex/demo/compiler/makelinux64/.deps
PyFlex/demo/compiler/makelinux64/build
PyFlex/examples/build
PyFlex/examples/cmake-build-debug
PyFlex/bindings/cmake-build-debug
PyFlex/bindings/build
*.swp
*.swo
*.swn

PyFlex/bindings/examples/tmp
PyFlex/bindings/examples/*.avi
PyFlex/bindings/examples/*/
PyFlex/bindings/examples/*.gif

build/

softbody_manipulation/data*

softbody_grid_cutting/data*
softbody_grid_cutting/*cutting_data*
softbody_grid_cutting/*cuts_data*
softbody_grid_cutting/*cut_data*
softbody_grid_cutting/*_data
softbody_grid_cutting/*.tar.gz

*.prof

softbody_grid_cutting/output/*
softbody_grid_cutting/runs/*
